.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-bg);
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-contacts {
    min-width: 300px;
}

.footer-address {
    margin-top: 20px;
}

.footer-address_item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-address_link {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
        color: var(--accent-color);
    }
}


.address-link {
    color: #ffffff;
}

.foter-social_title {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--title-color-light);
    margin-bottom: 20px;
}

.footer-social_list {
    display: flex;
    align-items: center;
    justify-content: start;
}

.footer-social_item:not(:last-child) {
    margin-right: 10px;
}

.footer-social_link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--icon-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-color-light);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
        background-color: var(--accent-color);
    }
}

.footer-soc_icon {
    fill: currentColor;
}

.footer-subscribe {
    margin-left: 93px;
}

.foter-subscribe_title {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--title-color-light);
    margin-bottom: 20px;
}

.subscribe-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe_input {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    border: 1px solid #ffffff4d;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000026;
    background-color: transparent;
    color: #ffffff4d;
    margin-right: 12px;
    &::placeholder {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;
        letter-spacing: 0.03em;
        text-align: left;
        text-underline-position: from-font;
    }
}

.subscribe_btn {
    min-width: 200px;
    height: 50px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000026;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--btn--text-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    &::after {
        content: "";
        width: 24px;
        height: 24px;
        background-image: url(../images/send.svg);
        background-size: contain;
        color: #ffffff;
        margin-left: 10px;
    }
}


