.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ececec;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    align-items: center;
    margin-left: 91px;
}

.header-list_item:not(:last-child) {
    margin-right: 50px;
}

.header-list_link {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--text-color-dark);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
            color: #2196f3;
        }
}

.contact-list {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.contact-list_item:not(:last-child) {
    margin-right: 50px;
}

.contact-list_link {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--text-color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
        color: var(--accent-color);
    }
}

.contact-list_icon {
    margin-right: 10px;
    fill: currentColor;
}
