.logo-link {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--accent-color);
}

.span-dark {
    color: var(--logo-dark);
}

.span-light {
    color: var(--logo-light);
}
