
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}