:root {
    --bg-color: #F5F4FA;
    --footer-bg: #2f303a;
    --accent-color: #2196F3;
    --logo-dark: #000000;
    --logo-light: #FFFFFF;
    --btn-color: #F5F4FA;
    --btn--text-color: #FFFFFF;
    --title-color-light: #FFFFFF;
    --title-color-dark: #212121;
    --title-bg-color: #2F303ACC;
    --hero-bg-color: #C4C4C4;
    --border-color: #EEEEEE;
    --text-color-light: #757575;
    --text-color-dark: #212121;
    --text-color-accent: #FFFFFF99;
    --icon-color: #AFB1B8;
    --icon-color-light: #FFFFFF;
    --icon-bg: #FFFFFF1A;
    --icon-bg-light: #FFFFFF;
    --overley: #00000033;

}